@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 7px !important;
  scroll-behavior: smooth;
}
::-webkit-scrollbar:hover {
  width: 9px !important;
}
::-webkit-scrollbar-track {
  @apply bg-[#0a0a0c]!;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-900!  rounded-full! snap-mandatory!
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-800/80!
}
